node_modules/
tsconfig.tsbuildinfo
.coverage/
.eslintcache
.rollup.cache/
playwright-report/
test-results/
*.data
*.js
*.wasm
cockle_wasm_env/
cockle-config.json
demo/package-lock.json
demo/assets/*.json
demo/lib/
lib/
src/version.ts
test/assets/*.json
test/lib/
test/package-lock.json
