name: Test

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:

defaults:
  run:
    shell: bash -e -l {0}

jobs:
  test:
    name: Build and test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set conda environment
        uses: mamba-org/setup-micromamba@main
        with:
          environment-name: cockle
          environment-file: environment-dev.yml
          init-shell: bash
          cache-downloads: true

      - name: Install dependencies
        run: npm install
      
      - name: Fetch wasm dependencies
        run: npm run fetch:wasm

      - name: Build
        run: |
          npm run build

      - name: Lint
        run: |
          npm run lint:check

      - name: Run tests
        run: |
          npm t
